<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="goUP_TV.Properties.timer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="goUP_TV.Properties.info" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="goUP_TV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <goUP_TV.Properties.timer>
            <setting name="datetime" serializeAs="String">
                <value />
            </setting>
        </goUP_TV.Properties.timer>
        <goUP_TV.Properties.info>
            <setting name="subscription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="advertisement" serializeAs="String">
                <value>False</value>
            </setting>
        </goUP_TV.Properties.info>
        <goUP_TV.Properties.Settings>
            <setting name="link" serializeAs="String">
                <value>www.google.com</value>
            </setting>
            <setting name="offscreen" serializeAs="String">
                <value>False</value>
            </setting>
        </goUP_TV.Properties.Settings>
    </userSettings>
</configuration>